<h1><%=h @activity.title %></h1>

<p>
  <b>Specification</b>
  <br />
  <%=h @activity.specification %>
</p>

<p>
  <b>Delivery Date</b>
  <br />
  <%=h @activity.delivery_date %>
</p>

<p>
  <%= link_to "Submit", :action => "submit_file", :id => @student_id, :activity_id => @activity %>
</p>

<p>
  <b>Comments</b>
  <ul>
    <% @activity.comments.each do |c| %>
      <li><%=h c.body %></li>
    <% end %>
  </ul>
</p>

<p>
    <%= link_to "Back", :action => "show_activities", :id => @student_id, :group_id => @activity.group_id %>
</p>
