<h1>Show Activities</h1>

<h2>Student: <%=@student.name %></h2>
<h2>Group: <%=@group.number %></h2>

<b>Activities</b>
<table>
  <tr>
    <th>Name</th>
    <th>Amount of Comments </th>
    <th>Status </th>
    </tr>
    <tr>
    <% @group.activities.each do |a| %>
      <td><%= link_to a.title, :action => "activity_details", :id => @student, :activity_id => a.id %></td>
      <td><%= a.comments.size %></td>
      <td> Unknown  </td>
    </tr>
    <% end %>
</table>

<%= link_to 'Back', :action => "show_groups", :id => @student %>
