<p>
  <b>Student:</b>
  <%=h @student.name %> - <%=h @student.registration %>
  </ br>
</p>

<p>
  <b>Groups:</b>
  <table>
    <tr>
      <th> Course Code </th>
      <th> Course Name </th>
      <th> Subject Activities </th>
    </tr>
    <% @student.groups.each do |group| %>
      <td><%=group.course.code%></td>
      <td><%=group.course.name%></td>
      <td> <%=link_to 'Display', :controller => "students", :action => "show_activities",  :id => @student, :group_id => group.id %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', @student %>
