<h1>New group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :semester %><br />
    <%= f.text_field :semester %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    Course <br />
  
<%=  select_tag 'course_id', options_for_select(@courses.collect{|c| [c.name, c.id] }) %>
      
</p>   

<p>

Teachers <br />
  
<%=  select_tag 'teacher_id', options_for_select(@teachers.collect{|t| [t.name, t.id] }) %>
      
</p>
    
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
