<p>
  <b>Title:</b>
  <%=h @activity.title %>
</p>

<p>
  <b>Specification:</b>
  <%=h @activity.specification %>
</p>

<p>
  <b>Delivery date:</b>
  <%=h @activity.delivery_date %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>